[tool.poetry]
name = "rubi"
version = "1.0.0"
description = "a python SDK for the Rubicon Protocol"
authors = ["denver <denver@rubicon.finance>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
sphinx = "^5.3.0"
web3 = { version = ">5.23.0,<7.0", allow-prereleases = true }
hexbytes = "^0.3.0"
attributedict = "^0.3.0"
eth-abi = "^3.0.1"
pytest = "^7.2.0"
eth-tester = "^0.8.0b1"
py-evm = "^0.6.1a1"
eth-utils = "^2.1.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
