body {
    background-color: #222;
    color: #fff;
}

.dash-container {
    background-color: #222;
}

.dash-header {
    background-color: #333;
}

.dash-header-row {
    color: #fff;
}

.dash-tabs {
    background-color: #333;
}

.dash-tabs li a {
    color: #fff;
}

.dash-tabs li.active a {
    background-color: #fff;
    color: #222;
}
