# Linting PR title in order to ensure semantic versioning
# Adapted from: https://github.com/amannn/action-semantic-pull-request
# Semantic versioning follows: https://www.conventionalcommits.org/

name: PR title linter

# Currently I have this set to only PRs made into this repo
# As we accept community PRs through forks -> need to change this for
# https://github.com/amannn/action-semantic-pull-request#event-triggers
on:
  pull_request:
    branches: [ 'master' ]
    types:
      - opened
      - edited
      - synchronize

jobs:
  pr-lint:
    runs-on: ubuntu-latest
    if: "!contains(github.event.pull_request.labels.*.name, 'skip deployment')"
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        id: lint_pr_title
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 

# Potential future steps:
# If the lint fails, adding an error message to inform about the failed lint
# Delete a previous comment when the issue has been resolved